<h1>Results</h1>
<div class="wrapper">
  <div class="response-container">
    <%= link_to "Play Again!", "/new" %>
    <p><%= @results_display %></p>
    <p>Your score was: <%= @total_score %></p>
  </div>
</div>
